
<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/Header')%>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <%- include('../../partials/Navigation')%>

  <%- include('../../partials/Sidebar')%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>ຂໍ້ມູນບົດປະພັນທັງໝົດ</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">ໜ້າຫຼັກ</a></li>
              <li class="breadcrumb-item active">ຂໍ້ມູນບົດປະພັນທັງໝົດ</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <% if(stories !== 'undefined') { %>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">ຂໍ້ມູນບົດປະພັນທັງໝົດ</h3> &nbsp; &nbsp;
          <a href="/stories/add" class="pull-right">ເພີ່ມຂໍ້ມູນໃຫມ່</a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th>Author</th>
              <th>Timeline</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
              <% stories.forEach(function(story){ %>
              <tr>
                <td>
                  <% if(story.image == "") { %>
                    <img src="/image/noimage.png" width="60px" height="60px" alt="">
                    <% } else { %>
                    <img src="/uploads/stories/<%= story._id %>/<%= story.image %>" width="60px" height="60px" alt="">
                  <% }%>       
                </td>
                <td><%= story.title %></td>
                <td><%= story.author %></td>
                <td><%= story.timeline %></td>
                <td>
                  <a href="/stories/edit/<%= story._id %>">Edit</a>
                  <a href="/stories/delete/<%= story._id %>">Delete</a>
                </td>
              </tr>
              <% }); %>
            </tbody>
            <tfoot>
              <tr>
                <th>Image</th>
                <th>Author</th>
                <th>Title</th>
                <th>Timeline</th>
                <th>Actions</th>
              </tr>
            </tfoot>
          </table>
          <% }else{ %>
            <p>Empty Data ...</p>
          <% } %>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include('../../partials/Footer')%>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<%- include('../../partials/Script')%>
</body>
</html>
