<!DOCTYPE html>
<html lang="en">
 <%- include('./layouts/Header') %>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <%- include('./layouts/Navigation') %>
      <section id="home-section" class="hero">
        <div class="home-slider owl-carousel">
          <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
              <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                <div class="one-third js-fullheight order-md-last img"
                  style="background-image: url(/frontend/images/bg_1.PNG)">
                  <div class="overlay"></div>
                </div>
                <div class="one-forth d-flex align-items-center ftco-animate"
                  data-scrollax=" properties: { translateY: '70%' }">
                  <div class="text">
                    <span class="subheading">ມະຫາ ສິລາ ວີຣະວົງສ໌ ແມ່ນໃຜ?</span>
                    <h1 class="mb-4 mt-3">ມະຫາ <span>ສິລາ ວີຣະວົງສ໌ </span></h1>
                    <h2 class="mb-4">
                      ນັກປວັດສາດລາວ, ນັກອັກສອນສາດ, ນັກຄົ້ນຄວ້າວັນນະຄະດີບູຮານ, ນັກແຕ່ງກອນລຳ, ນັກກະວີ,
                      ອາຈານສອນພາສາປາລີ...
                    </h2>
                    <p>
                      <a href="#blog-section" class="btn btn-primary py-3 px-4">ຮຽນຮູ້ເພີ່ມເຕີ່ມ</a>
                      <a href="#projects-section" class="btn btn-white btn-outline-white py-3 px-4">ບົດຄວາມອື່ນ</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
              <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                <div class="one-third js-fullheight order-md-last img"
                  style="background-image: url(/frontend/images/bg_2.PNG)">
                  <div class="overlay"></div>
                </div>
                <div class="one-forth d-flex align-items-center ftco-animate"
                  data-scrollax=" properties: { translateY: '70%' }">
                  <div class="text">
                    <span class="subheading">Who is Maha Sila VIRAVONG?</span>
                    <h1 class="mb-4 mt-3">Maha <span>Sila VIRAVONG</span></h1>
                    <h2 class="mb-4">
                      Lao historian, Researcher, Transliterator of Lao Classical Literature, Traditional Folk Song Poet, Pali grammar Lecturer...
                    </h2>
                    <p>
                      <a href="#blog-section" class="btn btn-primary py-3 px-4">ຮຽນຮູ້ເພີ່ມເຕີ່ມ</a>
                      <a href="#projects-section" class="btn btn-white btn-outline-white py-3 px-4">ບົດຄວາມອື່ນ</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
        <div class="container">
          <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
              <div class="img-about img d-flex align-items-stretch">
                <div class="overlay"></div>
                <div class="img d-flex align-self-stretch align-items-center"
                  style="background-image: url(/frontend/images/bg_1.PNG)"></div>
              </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
              <div class="row justify-content-start pb-3">
                <div class="col-md-12 heading-section ftco-animate">
                  <h1 class="big">ຂໍ້ມູນບຸກຄົນ</h1>
                  <h2 class="mb-4">ຂໍ້ມູນບຸກຄົນ Personal information</h2>
                  <p>
                    ຜູ່ຂ້າ ເປັນລູກບ້ານນອກ ທໍ່ກັບວ່າ
                    ເກີດຢູ່ກ້ອນຂີ້ໄຖໃຫຍ່ຢູ່ເທິງຫລັງຄວາຍ ຮູ້ຈັກຫາກົບຫາຂຽດ
                    ເກັບຜັກຫັກຟືນກິນຕັ້ງແຕ່ຫົວທໍ່ຫມາກຕ້ອງ ເພາະເປັນລູກຊາວນາ
                    ຫ່າງໄກຄວາມຈະເລີນຈາກເມືອງຕັ້ງຫລາຍໂຍຊນ໌ ...(ຄັດຈາກປຶ້ມ
                    "ຊີວິດຜູ່ຂ້າ ອັຕຕະຊີວະປວັດ")
                  </p>
                  <p>
                    I am a child of the countryside, born amongst of earth thrown
                    up by the plough and growing up on the back of a water
                    buffalo. I could hunt for frogs and collect forest produce
                    since I was only knee high, because I am a child of farming
                    people who lived a world away from modern Development and city
                    life ...(Excerpt from the book "My Life Auto biography")
                  </p>

                  <ul class="about-info mt-4 px-md-0 px-2">
                    <li class="d-flex">
                      <span>ຊື່: </span>
                      <span>ສິລາ ວິຣະວົງສ໌(thai: สิลา วีระวงส์)</span>
                    </li>
                    <li class="d-flex">
                      <span>ວັນເກີດ: </span>
                      <span>1 ສິງຫາ 1905(ພ.ສ. 2448) ກົງກັບ ເດືອນເກົ້າ ຂຶ້ນນຶ່ງຄ່ຳ
                        ວັນອັງຄານ ເວລາ 12.30 ນາລິກາ ປີມະເສັງ</span>
                    </li>
                    <li class="d-flex">
                      <span>ບ້ານເກີດ:</span>
                      <span>ບ້ານໜອງໝື່ນຖ່ານ (ສມັຍນັ້ນຂຶ້ນກັບອຳເພີ ສຸວັນນະພູມ) ແຂວງ (ຈັງວັດ) ຮ້ອຍເອັດ <br>
                        ອານາຈັກສຍາມ (ພະຣາຊະນາຈັກໄທ ປັດຈຸບັນ), ມີອ້າຍເອື້ອຍນ້ອງຮ່ວມທ້ອງ 9ຄົນ, <br> 
                        ທ່ານ ເປັນລູກຄົນທີ 4, ພໍ່ຊື່ ທິດເສນ ຈັນທະນາມ(ສືບເຊື່ອສາຍຈາກບັນພະບຸລຸດທີເຄືອນຍ້າຍມາແຕ່ນະຄອນຈຳປາສັກລະຫວ່າງຊຸມປິ ຄສ. 1700),
                        ແມ່ຊື່ ນາງດາ (ສືບເຊື່ອສາຍຈາກບັນພະບຸລຸດທີຖືກ ກວາດຕ້ອນອົບພະຍົບໄປແຕ່ລະຊຽງຂວາງລະຫວ່າງຊຸມປິ ຄສ. 1700), 
                        ອ້າຍເອື້ຍນ້ອງທັງໝົດຕັ້ງຖີນຖ່ານຢູ່ທີເກິດ                      
                      </span>
                    </li>
                    <li class="d-flex">
                      <span>ການສຶກສາ:</span>
                      <span>ບວດຮຽນໃນພຣະພຸທສາສນາ ໑໒ປິ, ໄດ້(ປຣຽນ) ມະຫາຫ້າ, ຊຳນານໄວຍາກອນ ປາລີ,<br>
                        ມີໄຫວ ພິບປະຕິພານວ່ອງໄວ, ເວົ້າຫຼຽນໄຫຼ, ເປັນນັກເລົາເລື່ອງ ເວົ້າເລຶ່ອງຕາຫຼົກ    
                      </span>
                    </li>
                    <li class="d-flex">
                      <span>ນິດໄສໃຈຄໍ:</span>
                      <span>ມີເມດຕາ, ເອື້ອເຟື້ອເພື່ອແຜ່, ຊື່ສັດ, ເດີນທາງມາວຽງຈັນໃນປິ ຄສ.1930<br>
                        ອາຍຸ 25ປີ, ໃນຂະນະຍັງເປັນສະມະເພດ(ລາສິກຂາອອກ ມາເຮັດວຽກເປັນສະໝຽນ) ຢູ່ນຳພະຍາຫຼວງໜື່ນ
                        ລູກທ້າວ ຢູ່ສະໂມສອນ ຂ້າຣາຊາການລາວ   
                      </span>
                    </li>
                    <li class="d-flex">
                      <span>ເສຍຊີວິດ:</span>
                      <span>10 ກຸມພາ 1987</span>
                    </li>
                    <li class="d-flex">
                      <span>ຊື່ພໍ່-ແມ່:</span>
                      <span>ພໍ່: ເສນ ຈັນທະນາມ, ແມ່: ດາ
                      </span>
                    </li>
                    <li class="d-flex">
                      <span>ອ້າຍເອື້ຍນ້ອງຮ່ວມທ້ອງ: </span>
                      <span>ມີອ້າຍເອື້ອຍນ້ອງຮ່ວມທ້ອງ 9 ຄົນ ເປັນລູກຜູ້ທີ 4 ຂອງຄອບຄົວ
                      </span>
                    </li>
                    <li class="d-flex">
                      <span>ລູກ: </span>
                      <span>17 ຄົນ</span>
                    </li>
                  </ul>

                  <ul class="about-info mt-4 px-md-0 px-2">
                    <li class="d-flex">
                      <span>Name:</span>
                      <span>Sila VIRAVONG (thai: สิลา วีระวงส์)</span>
                    </li>
                    <li class="d-flex">
                      <span>Date of birth:</span>
                      <span>August 01, 1905</span>
                    </li>
                    <li class="d-flex">
                      <span>Born:</span>
                      <span>Village of Bane Nong Meun Thane
                        (which in those days part of the district of Suvannaphoum)
                        in Roi Et Province of Siam</span>
                    </li>
                    <li class="d-flex">
                      <span>Death:</span>
                      <span>February 10, 1987</span>
                    </li>
                    <li class="d-flex">
                      <span>Parent name:</span>
                      <span>Father: Sen Chanthanam,
                        Mother: Da
                      </span>
                    </li>
                    <li class="d-flex">
                      <span>Siblings: </span>
                      <span>Totally 9 people He's 4th</span>
                    </li>
                    <li class="d-flex">
                      <span>Children: </span>
                      <span>Has 17 children</span>
                    </li>
                  </ul>

                </div>
              </div>
              <div class="counter-wrap ftco-animate d-flex mt-md-3">
                <div class="text">
                  <p class="mb-4">
                    <span>ມີຜົນງານທີ່ໜ້າຊື່ນຊົມ Project complete</span>
                    <span class="number" data-number="50">0</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-section ftco-no-pb" id="resume-section">
        <div class="container">
          <div class="row justify-content-center pb-5">
            <div class="col-md-10 heading-section text-center ftco-animate">
              <h1 class="big big-2">ຊ່ວງເວລາຂອງຊີວິດ</h1>
              <h2 class="mb-4">ຊ່ວງເວລາຂອງຊີວິດ</h2>
              <p>
                ... ພໍແຕ່ອາຍຸໄດ້ປະມານ 8 ປີ ກໍໄດ້ຮຽນໜັງສືລາວກ່ອນ
                ໂດຍຮຽນນຳພໍ່ຕູ້ເວລາກາງຄືນ ເວລາກາງເວັນໄປລ້ຽງງົວຄວາຍ,
                ໜັງສືທີ່ຮຽນແມ່ນກອບປູສອນຫຼານ ກັບຈຳປາສີ່ຕົ້ນ
                ໃນເວລາຮຽນໜັງສືນຳພໍ່ຕູ້ນີ້ເອງ
                ພໍ່ຕູ້ໄດ້ເລົ່ານິທານຕ່າງໆສູ່ຟັງຈົນຕລອດເຣື່ອງເຈົ້າອະນຸ
                ແລະເຈົ້າຣາຊວົງ ...(ຄັດຈາກປຶ້ມ "ຊີວິດຜູ່ຂ້າ ອັຕຕະຊີວະປວັດ")
              </p>
            </div>
          </div>
          <div class="row">
            <% times.forEach(function(time){ %>
            <div class="col-md-6">
              <div class="resume-wrap ftco-animate">
                <span class="date"><%= time.timeline %></span>
                <h2><%= time.title %></h2>
                <p class="mt-4">
                  <%- time.desc %>
                </p>
              </div>
            </div>
            <% }); %>
          </div>
          <div class="row justify-content-center mt-5">
            <div class="col-md-6 text-center ftco-animate">
              <p><a href="#" class="btn btn-primary py-4 px-5">ອ່ານເພີ່ມເຕີ່ມ</a></p>
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-section" id="services-section">
        <div class="container">
          <div class="row justify-content-center py-5 mt-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
              <h1 class="big big-2">ຮາງວັນຊີວິດ</h1>
              <h2 class="mb-4">ຮາງວັນຊີວິດ Rewards</h2>
              <p>
                ... ໃນປາງບຸນບັ້ງໄຟເທື່ອນຶ່ງ ທີ່ເມື່ອອາດສາມາດ ມີສຶກສາທິການເມືອງ ຊື່
                ທ້າວໜູ ມາມັກສາວຢວກ (ສາວງາມຂອງບ້ານ) ແລະຂຽນສານຫາສາວຢວກ
                ແຕ່ບໍ່ມີຄົນອ່ານໄດ້ ແມ່ຂອງສາວຢວກຂໍໃຫ້ຜູ້ຂ້າອ່ານສູ່ຟັງ ແລະຂຽນສານຕອບ
                ຄູໜູ ຕາມຄຳບອກຂອງແມ່ສາວຢວກ. ນັບແຕ່ເວລານັ້ນມາ
                ຜູ້ຂ້າກໍ່ຮູ້ສຶກສາມັກກອບກອນ... (ຄັດຈາກປຶ້ມ "ຊີວິດຜູ່ຂ້າ
                ອັຕຕະຊີວະປວັດ")
              </p>
              <p>
                ... At one such festival in the district of Aht Samaht, there was
                a district education official called Thao Nou who came to like Sao
                Yuak (the beautiful young woman of the village) and wrote a
                message [in verse] to her, but no one could read it. Sao Yuak's
                mother asked me to read it out to her and to write down her [[i.e.
                the mother's] reply to Teacher Nou. From that time on, I came to
                like poetical writings...(Excerpt from the book "My Life Auto
                biography")
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center d-flex ftco-animate">
              <a href="#" class="services-1">
                <span class="icon">
                  <i class="flaticon-analysis"></i>
                </span>
                <div class="desc">
                  <h3 class="mb-5">
                    ສິລະປິນແຫ່ງຊາດ 2010
                    <nav></nav>
                    National Artist 2010
                  </h3>
                </div>
              </a>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
              <a href="#" class="services-1">
                <span class="icon">
                  <i class="flaticon-flasks"></i>
                </span>
                <div class="desc">
                  <h3 class="mb-5">ສິລະປິນມໍລະດົກອິສານ</h3>
                </div>
              </a>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
              <a href="#" class="services-1">
                <span class="icon">
                  <i class="flaticon-idea"></i>
                </span>
                <div class="desc">
                  <h3 class="mb-5">ຫ້າປະໂຫຍກ</h3>
                </div>
              </a>
            </div>

            <div class="col-md-4 text-center d-flex ftco-animate">
              <a href="#" class="services-1">
                <span class="icon">
                  <i class="flaticon-innovation"></i>
                </span>
                <div class="desc">
                  <h3 class="mb-5">ປະຫວັດສາດດີເດັ່ນ</h3>
                </div>
              </a>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
              <a href="#" class="services-1">
                <span class="icon">
                  <i class="flaticon-ux-design"></i>
                </span>
                <div class="desc">
                  <h3 class="mb-5">ນັກປະວີ</h3>
                </div>
              </a>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
              <a href="#" class="services-1">
                <span class="icon">
                  <i class="flaticon-ideas"></i>
                </span>
                <div class="desc">
                  <h3 class="mb-5">ພາສາສາດ</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-section ftco-project" id="projects-section">
        <div class="container">
          <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
              <h1 class="big big-2">ບົດປະພັນທີຖືກຕີພີ່ມ</h1>
              <h2 class="mb-4">ບົດປະພັນທີຖືກຕີພີ່ມ</h2>
              <p>
                ... ບັດນີ້ &nbsp; ຈາພາກພື້ນບຸນຂອດ &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; ພຣະສີມາ &nbsp;&nbsp; ກ່ອນແລ້ວ <br />
                ດູດັ່ງ &nbsp;&nbsp;ຄຳເຄືອງເຖິງແຫ່ງເຮົາ &nbsp; &nbsp;&nbsp; &nbsp;
                ຮົມຮູ້ <br />
                ເຂົາກໍ &nbsp;ມີຕຣາຕັ້ງນີຣະມົນຕ໌ &nbsp; &nbsp; &nbsp; ເມືອຮ່ວມ<br />
                &nbsp; &nbsp;&nbsp; ຮຽມຊອບສູ້ສງວນແທ້ &nbsp;&nbsp;&nbsp;
                ເທສນ໌ທັມ<br />
                <br />

                &nbsp;&nbsp;ຮັກຮ່ວມດ້ວຍພົລເພື່ອນ &nbsp; &nbsp; ເຫຼືອຫຼາຍ <br />
                ເລີຍເລົ່າ &nbsp; ຊຳລວາເຮວເຮ່ງເຖິງ &nbsp;&nbsp; ສຖານບ້ານ<br />
                &nbsp;&nbsp; ຄາເມນັ້ນກະແສສາຍ &nbsp; &nbsp; ສິນທ໌ຮອບ<br />
                &nbsp;&nbsp;&nbsp; ນ້ຳເນັ່ງອ້ອມປຸນໃຫຍ່ &nbsp;&nbsp; ມຫາທານ<br />
              </p>
            </div>
          </div>
          <div class="row">
            <% stories.forEach(function(story){ %>
            <div class="col-md-4">
              <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(/image/bg_1.png);">
                <div class="overlay"></div>
                <div class="text text-center p-4">
                  <h3><a href="/story/<%= story.id %>"><%= story.title %></a></h3>
                  <span><%= story.author %></span>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </section>

      <section class="ftco-section" id="blog-section">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
              <h1 class="big big-2">ຜົນງານການປະພັນ</h1>
              <h2 class="mb-4">ຜົນງານການປະພັນ</h2>
              <p>
                ໃນໄລຍະສ້າງຕັ້ງໂຮງຮຽນນີ້ ຜູ້ຂ້າໄດ້ແຕ່ງໜັງສືແບບຮຽນຕ່າງໆຂຶ້ນ ຄື
                ໄວຍາກຣນ໌ປາລີທັງ 4 ພາຄ, ໄວຍາກຣນ໌ລາວ ພາຄ 1, ສາມເນຣສິກຂາ, ທັມມະພາຄ 1
                ແລະ ພາຄ 2 ວິນັຍພາຄ 2 ອັນເປັນຫລັກສູຕທາງສົງຄ໌ ແລະໄດ້ແປໜັງສືສູຕມົນ
                ທີ່ພະສົງໃຊ້ສູຕໃນວຽງຈັນທນ໌ ແລ້ວໄດ້ພິມຂຶ້ນເປັນເຫລັ້ມດ້ວຍ...
              </p>
              <p>
                ... While establishing the school, I wrote various textbooks: Pali
                Grammar in four parts, Part One of Lao Grammar, The Novice's
                Training, Buddhist Teachings Parts One and Two, and Monks'
                Discipline Part Two, which are the curriculum for monks and
                novices, and translated the chanting book, printed in one volume,
                for use in Vientiane...
              </p>
            </div>
          </div>
          <div class="row d-flex">
            <% books.forEach(function(book){ %>
            <div class="col-md-4 d-flex ftco-animate">
              <div class="blog-entry justify-content-end">
                <% if(book.image == "") { %>
                  <img src="/image/noimage.png" width="360px" height="380px" alt="">
                  <% } else { %>
                  <img src="/uploads/books/<%= book._id %>/<%= book.image %>" width="360px" height="380px" alt="">
                <% }%> 
                <div class="text mt-3 float-right d-block">
                  <div class="d-flex align-items-center mb-3 meta">
                    <p class="mb-0">
                      <span class="mr-2"><%= book.createdAt.toLocaleString() %></span>
                      <a href="#" class="mr-2">Admin</a>
                      <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
                    </p>
                  </div>
                  <h3 class="heading">
                    <a href="/book/<%= book.id %>"><%= book.title %></a>
                  </h3>
                  <p>
                    <%- book.desc %>
                  </p>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </section>

      <section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
        <div class="container">
          <div class="row d-md-flex align-items-center">
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text">
                  <strong class="number" data-number="6">0</strong>
                  <span>ຮາງວັນຍ້ອງຍໍ້</span>
                </div>
              </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text">
                  <strong class="number" data-number="120">0</strong>
                  <span>ຜົນງານຕ່າງໆ</span>
                </div>
              </div>
            </div>
            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text">
                  <strong class="number" data-number="16">0</strong>
                  <span>ບາງຜົນງານເພື່ອການສຶກສາ</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
              <h1 class="big big-2">ຕິດຕໍ່</h1>
              <h2 class="mb-4">Contact Us</h2>
            </div>
          </div>

          <div class="row d-flex contact-info mb-5">
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
              <div class="align-self-stretch box p-4 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="icon-map-signs"></span>
                </div>
                <h3 class="mb-4">Address</h3>
                <p>
                  <a href="https://goo.gl/maps/f6N5ommwtFXT3HXK6">ເຮືອນເລກທີ 001 ຖະໜົນທົ່ງສ້າງນາງ, ບ້ານ ທົ່ງສ້າງນາງ, ເມືອງ ຈັນທະບູລິ, ນະຄອນຫຼວງວຽງຈັນ ສປປ ລາວ</a>
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
              <div class="align-self-stretch box p-4 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="icon-phone2"></span>
                </div>
                <h3 class="mb-4">Contact Number</h3>
                <p><a href="tel://008562055607292">(+856)-20-5859-5379</a></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
              <div class="align-self-stretch box p-4 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="icon-paper-plane"></span>
                </div>
                <h3 class="mb-4">Email Address</h3>
                <p><a href="mailto:dokked@veetoo.net">dokked@veetoo.net</a></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ftco-animate">
              <div class="align-self-stretch box p-4 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="icon-globe"></span>
                </div>
                <h3 class="mb-4">googel map</h3>
                <p>
                  <a href="https://goo.gl/maps/x3JGrd4KPEr83BS89">PPALLao</a>
                </p>
              </div>
            </div>
          </div>

          <div class="row no-gutters block-9">
            <div class="col-md-6 order-md-last d-flex">
              <form action="/admin/mail" method="POST" class="bg-light p-4 p-md-5 contact-form">
                <div class="form-group">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" />
                </div>
                <div class="form-group">
                  <input type="email" name="email" id="email" class="form-control"  placeholder="Your Email" />
                </div>
                <div class="form-group">
                  <input type="text" name="subj" id="subj" class="form-control" placeholder="Subject" />
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="ສົ່ງຂໍ້ຄວາມເຖີ່ງຜູ້ຄຸມລະບົບ" class="btn btn-primary py-3 px-5" />
                </div>
              </form>
            </div>

            <div class="col-md-6 d-flex">
              <div class="img" style="background-image: url(images/about.jpg)"></div>
            </div>
          </div>
        </div>
      </section>
      <%- include('./layouts/Footer') %>

      <%- include('./layouts/Script') %>
  </body>

</html>